<html>
  <head>
    <title>
      Timeline
    </title>
    <meta charset="utf-8" />
    {{#each external_files.css}}
      <style>
        {{{this}}}
      </style>
    {{/each}}
  </head>
  <body>
    <nav class="py-2 bg-light border-bottom">
      <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
          <li class="nav-item">
            <a
              href="#"
              class="nav-link link-dark px-2 active"
              aria-current="page"
            >
              Home
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <header class="py-3 mb-4 border-bottom">
      <div class="container d-flex flex-wrap justify-content-center">
        <a
          href="/"
          class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none"
        >
          <span class="fs-4">
            CodeTimeline2
          </span>
        </a>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0">
          <input
            type="search"
            class="form-control"
            placeholder="Search..."
            aria-label="Search"
          />
        </form>
      </div>
    </header>
    <table class="snapshots">
      <tr>
        {{#each snapshots}}
          <td>
            <div>
              {{{this.short_sha}}}
            </div>
            <div class="snapshot">
              {{{this.highlighted_code}}}
            </div>
          </td>
        {{/each}}
      </tr>
    </table>
    {{#each external_files.js}}
      <script type="text/javascript">
        {{{this}}}
      </script>
    {{/each}}
    <script type="text/javascript">
      var revisions = [
      {{{revisions}}}
      ];
    </script>
  </body>
</html>